.cms-body { background-color: #E5E5E5; background-image: url("../images/noise.png"); }
.cms-header { padding-top: 51px; }
.cms-title  { color: #428BCA; }

/* User box */
.user-box { padding: 0; }
.user-box .table { margin-bottom: 0; }
.user-box .user-box-bottom { background-color: @gray-lighter; }
.navbar-nav .open .dropdown-menu.user-box { background-color: #FFFFFF; border-radius: 0; }
.user-box #cms-user-info { padding-left: 0; }
.navbar-collapse { max-height: 460px; }

/* Form */
.form-horizontal .control-label { text-align: left; }
.help-block { font-size: 75%; }
.help-block .label { font-size: 95%; }
.fieldset-header { display:block; width: 100%; font-size: 14px; font-weight: bold; padding: 8px; margin-bottom: 25px; text-transform: uppercase; }
.fieldset-header h4 { padding: 5px 0; }
.cms-input-help { padding: 7px; font-size: 18px; color: #999; }
.cms-input-help:hover { color: #428BCA; cursor: help; }

/* Table */
.table { background-color: #FFF; }
.table  th { background-color: #428BCA !important; color: #FFF !important; text-transform: uppercase; }
.table  th a { color: #FFF; }
.table .td-action { padding: 7px; }
.table .td-action .fa { font-size: 20px; }
.table .td-action .fa:hover { color: #428BCA; cursor: pointer; }