.content { margin-top: 51px; }
.panel-debug .panel-heading { border-top-left-radius: 0; border-top-right-radius: 0; }

td {
  border: solid 1px;
  padding: 3px;
}
.help-block {
  font-size: 12px;
}
.help-block strong {
  margin-right: 10px;
}
.help-block strong:before {
  content: '- ';
}
.help-block strong:after {
  content: ': ';
}

/* Import */
#page-import label {
  display: block;
}
#page-import #period {
  width: 200px;
  display: inline-block;
}
#page-import #previous-month, #page-import #next-month {
  display: inline-block;
}

/* Print */
.hidden {
  display: none;
}
#search-box #phone {
  width: 165px;
}
#search-box .btn {
  width: 60px;
}
#search-result span {
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
}
#search-result span.active {
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  color: #428bca;
}
#search-result span:hover {
  color: #428bca;
}
#search-result .panel-body {
  overflow-y: scroll;
  height: 417px;
}
#print-receipt {
  width: 150px;
  float: right;
  margin-right: 27px;
}
#previous-receipt, #next-receipt {
  float: right;
  margin-right: 27px;
}
.page-a4 {
  background: white;
  width: 21cm;
  /*height: 29.7cm;*/
  height: 14cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  font-size: 14px;
  position: relative;
  padding: 1cm;
}
.page-a4 span {
  display: block;
  position: absolute;
}
.page-a4 #owner {
  top: 2.6cm;
  left: 4.5cm;
}
.page-a4 #tax-code {
  top: 3.3cm;
}
.page-a4 .tax-code {
  display: inline-block;
  width: 25px;
  position: relative;
  text-align: center;
}
.page-a4 .tax-separate {
  display: inline-block;
  width: 9px;
  position: relative;
  text-align: center;
}
.page-a4 #address {
  top: 4cm;
  left: 3.2cm;
  line-height: 1em;
}
.page-a4 .one-line {
  font-size: 14px;
}
.page-a4 .two-lines {
  font-size: 13px;
}
.page-a4 #phone-no {
  top: 4.6cm;
  left: 3.7cm;
}
.page-a4 .period {
  top: 5.2cm;
}
.page-a4 #period-start {
  left: 5.5cm;
}
.page-a4 #period-end {
  left: 11.5cm;
}
.page-a4 #amount {
  top: 6.4cm;
  width: 17cm;
  text-align: right;
}
.page-a4 #total {
  top: 7.1cm;
  width: 17cm;
  text-align: right;
}
.page-a4 #tax {
  top: 7.8cm;
  left: 3.2cm;
}
.page-a4 #tax-amount {
  top: 7.7cm;
  width: 17cm;
  text-align: right;
}
.page-a4 #group-total {
  top: 8.4cm;
  width: 17cm;
  text-align: right;
}
.page-a4 #words-total {
  top: 9.1cm;
  left: 6.5cm;
}
.page-a4 .print-date {
  top: 10.2cm;
}
.page-a4 #print-day {
  left: 14cm;
}
.page-a4 #print-month {
  left: 16cm;
}
.page-a4 #print-year {
  left: 18cm;
}
.page-a4 #name {
  top: 12.5cm;
  left: 14.5cm;
}
/* End Print */