.content {
    margin-top: 51px;
}

.panel-debug .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.clear {
    clear: both
}

td {
    border: solid 1px;
    padding: 3px;
}

.help-block {
    font-size: 12px;
}

.help-block strong {
    margin-right: 10px;
}

.help-block strong:before {
    content: '- ';
}

.help-block strong:after {
    content: ': ';
}

/* Import */
#page-import label {
    display: block;
}

#page-import #period {
    width: 200px;
    display: inline-block;
}

#page-import #previous-month, #page-import #next-month {
    display: inline-block;
}

/* Print */
.hidden {
    display: none;
}

#search-box #phone {
    width: 165px;
}

#search-box .btn {
    width: 60px;
}

#search-result span {
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
}

#search-result span.active {
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    color: #428bca;
}

#search-result span:hover {
    color: #428bca;
}

#search-result .panel-body {
    overflow-y: scroll;
    height: 417px;
}

#print-receipt {
    width: 150px;
    float: right;
    margin-right: 27px;
}

#change-period {
    float: left;
    margin-left: 80px;
}

#previous-receipt, #next-receipt {
    float: right;
    margin-right: 27px;
}

.page-a4 {
    float: right;
    background: white;
    width: 21cm;
    /*height: 29.7cm;*/
    height: 14cm;
    display: block;
    margin: 0 0 0.5cm 0;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    font-size: 13px;
    position: relative;
    /*padding: 1cm;*/
}

.page-a4 span {
    display: block;
    position: absolute;
}

.page-a4 .tax-code {
    display: inline-block;
    width: 25px;
    position: relative;
    text-align: center;
}

.page-a4 .tax-separate {
    display: inline-block;
    width: 4px;
    position: relative;
    text-align: center;
}

.page-a4 .one-line {
    font-size: 13px;
}

.page-a4 .two-lines {
    font-size: 11px;
    line-height: 1;
}

.page-a4 .align-right {
    text-align: right;
}

.btn-wrapper {
    margin-bottom: 10px;
}

.btn-wrapper .btn {
    float: none;
    display: inline-block;
}

.page-a4 #owner.two-lines {
    width: 13.5cm;
}

.page-a4 #address.two-lines {
    width: 15cm;
}

/* End Print */