/* Tên khách hàng */
#owner {
  top: 3.8cm;
  left: 5.3cm;
}
/* Mã số thuế */
#tax-code {
  top: 4.5cm;
  left: 1.9cm;
}
/* Địa chỉ */
.page-a4 #address {
  top: 5.1cm;
  left: 3.7cm;
}
/* Số thuê bao */
.page-a4 #phone-no {
  top: 5.5cm;
  left: 4.7cm;
}
/* Chu kỳ cước từ */
.page-a4 #period-start {
  top: 6cm;
  left: 6.1cm;
}
/* Chu kỳ cước đến */
.page-a4 #period-end {
  top: 6cm;
  left: 11.5cm;
}
/* Cước */
.page-a4 #amount {
  top: 7.3cm;
  width: 17cm;
}
/* Cộng tiền */
.page-a4 #total {
  top: 7.9cm;
  width: 17cm;
}
/* Thuế suất GTGT */
.page-a4 #tax {
  top: 8.4cm;
  left: 4.3cm;
}
/* Tiền thuế GTGT */
.page-a4 #tax-amount {
  top: 8.4cm;
  width: 17cm;
}
/* Tổng cộng */
.page-a4 #group-total {
  top: 9cm;
  width: 17cm;
}
/* Số tiền bằng chữ */
.page-a4 #words-total {
  top: 9.6cm;
  left: 6.7cm;
}
/* Ngày in hóa đơn */
.page-a4 #print-day {
  top: 10.7cm;
  left: 14cm;
}
/* Tháng in hóa đơn */
.page-a4 #print-month {
  top: 10.7cm;
  left: 16cm;
}
/* Năm in hóa đơn */
.page-a4 #print-year {
  top: 10.7cm;
  left: 18cm;
}
/* Nhân viên thu cước */
.page-a4 #name {
  top: 12.5cm;
  left: 14.5cm;
}