/* Tên khách hàng */
#owner {
  top: 3.5cm;
  left: 6.3cm;
}
/* Mã số thuế */
#tax-code {
  top: 4.2cm;
  left: 3.1cm;
}
/* Địa chỉ */
.page-a4 #address {
  top: 4.7cm;
  left: 4.8cm;
}
/* Số thuê bao */
.page-a4 #phone-no {
  top: 5.2cm;
  left: 5.9cm;
}
/* Chu kỳ cước từ */
.page-a4 #period-start {
  top: 5.7cm;
  left: 7cm;
}
/* Chu kỳ cước đến */
.page-a4 #period-end {
  top: 5.7cm;
  left: 12cm;
}


/* Cước */
.page-a4 #amount {
  top: 6.8cm;
  width: 18.3cm;
}
/* Cộng tiền */
.page-a4 #total {
  top: 7.4cm;
  width: 18.3cm;
}
/* Thuế suất GTGT */
.page-a4 #tax {
  top: 7.9cm;
  left: 5.3cm;
}
/* Tiền thuế GTGT */
.page-a4 #tax-amount {
  top: 7.9cm;
  width: 18.3cm;
}
/* Tổng cộng */
.page-a4 #group-total {
  top: 8.4cm;
  width: 18.3cm;
}
/* Số tiền bằng chữ */
.page-a4 #words-total {
  top: 9cm;
  left: 7.8cm;
  width: 11cm;
  line-height: 1;
}


/* Ngày in hóa đơn */
.page-a4 #print-day {
  top: 9.9cm;
  left: 14.4cm;
}
/* Tháng in hóa đơn */
.page-a4 #print-month {
  top: 9.9cm;
  left: 16cm;
}
/* Năm in hóa đơn */
.page-a4 #print-year {
  top: 9.9cm;
  left: 17.8cm;
}
/* Nhân viên thu cước */
.page-a4 #name {
  top: 11.8cm;
  left: 14.7cm;
}