<table cellspacing="0" border="0">
	<colgroup width="114"></colgroup>
	<colgroup width="99"></colgroup>
	<colgroup width="68"></colgroup>
	<colgroup width="102"></colgroup>
	<colgroup width="243"></colgroup>
	<colgroup width="31"></colgroup>
	<colgroup width="25"></colgroup>
	<colgroup width="27"></colgroup>
	<colgroup width="34"></colgroup>
	<colgroup span="4" width="35"></colgroup>
	<tr>
		<td height="20" align="left"><font face="Times New Roman" size=4 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=4 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=4 color="#FFFFFF"><br></font></td>
		<td align="center" valign=top><font face="Times New Roman" size=4 color="#FFFFFF"><br></font></td>
		<td align="left"><b><font face="Arial" size=2 color="#FFFFFF"><br></font></b></td>
		<td align="center" valign=top><font face="Times New Roman" size=5 color="#FFFFFF"> </font></td>
		<td align="left"><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="right" valign=top><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
	</tr>
	<tr>
		<td height="29" align="left"><font face="Times New Roman" size=4 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=4 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=4 color="#FFFFFF"><br></font></td>
		<td colspan=2 align="center"><font face="Arial" size=2><br></font></td>
		<td align="center" valign=top><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="right" valign=top><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
	</tr>
	<tr>
		<td height="45" align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" sdnum="1033;0;&quot;/&quot;00"><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></td>
		<td colspan=17 align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=5>{{OWNER}}</font></td>
		</tr>
	<tr>
		<td colspan=5 height="33" align="left"><font face="Times New Roman" size=5>{{TAX_CODE}}</font></td>
		<td align="center" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="right" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5><br></font></td>
	</tr>
	<tr>
		<td height="31" align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td colspan=18 align="left" valign=middle><font face="Times New Roman" size=5>{{ADDRESS}}</font></td>
		</tr>
	<tr>
		<td height="29" align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td colspan=2 align="right" valign=middle sdval="933459346" sdnum="1033;"><font face="Times New Roman" size=5>{{PHONE_NO}}</font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle sdnum="1033;0;@"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=top><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=top><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=top><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
	</tr>
	<tr>
		<td height="28" align="left"><b><font face="Times New Roman" size=5><br></font></b></td>
		<td align="left"><b><font face="Times New Roman" size=5><br></font></b></td>
		<td align="left"><b><font face="Times New Roman" size=5 color="#FFFFFF"><br></font></b></td>
		<td colspan=2 align="left" valign=middle><font face="Times New Roman" size=5>{{PERIOD}}</font></td>
		<td colspan=12 align="left" valign=middle><font face="Times New Roman" size=5>        20    06       16 </font></td>
		</tr>
	<tr>
		<td height="65" align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="right" sdval="92012" sdnum="1033;0;&quot;/&quot;00"><font face="Times New Roman" size=5 color="#FFFFFF">/92012</font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle sdnum="1033;0;#,##0"><i><font face="Times New Roman" size=4><br></font></i></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman"><br></font></td>
		<td align="left" valign=middle sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" size=5><br></font></td>
		<td colspan=7 align="center" sdval="259050.909090909" sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" size=4> 259,051 </font></td>
	</tr>
	<tr>
		<td height="43" align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="right" sdval="92012" sdnum="1033;0;&quot;/&quot;00"><font face="Times New Roman" size=5 color="#FFFFFF">/92012</font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle sdnum="1033;0;#,##0"><i><font face="Times New Roman" size=5><br></font></i></td>
		<td align="left" valign=middle sdnum="1033;0;#,##0"><i><font face="Times New Roman" size=5><br></font></i></td>
		<td align="left" valign=middle sdnum="1033;0;#,##0"><i><font face="Times New Roman" size=5><br></font></i></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="center" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle sdnum="1033;0;#,##0"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" sdnum="1033;0;#,##0"><i><font face="Times New Roman" size=5><br></font></i></td>
		<td colspan=7 align="center" valign=middle sdval="259050.909090909" sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" size=4> 259,051 </font></td>
	</tr>
	<tr>
		<td height="24" align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" sdval="10" sdnum="1033;"><font face="Times New Roman" size=4>10</font></td>
		<td align="left"><font face="Times New Roman" size=4><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="center" sdnum="1033;0;#,##0"><b><font face="Times New Roman" size=5><br></font></b></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td colspan=7 align="center" valign=middle sdval="25905.0909090909" sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" size=4> 25,905 </font></td>
	</tr>
	<tr>
		<td height="32" align="left"><font face="Times New Roman" size=4><br></font></td>
		<td align="left"><font face="Times New Roman" size=4><br></font></td>
		<td align="left"><font face="Times New Roman" size=4><br></font></td>
		<td align="left"><i><font face="Times New Roman" size=4><br></font></i></td>
		<td align="left"><i><font face="Times New Roman" size=4><br></font></i></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle sdnum="1033;0;&quot;Ngày &quot;DD&quot; tháng &quot;MM&quot; năm &quot;YYYY"><i><font face="Times New Roman" size=5><br></font></i></td>
		<td align="left" valign=middle sdnum="1033;0;&quot;Ngày &quot;DD&quot; tháng &quot;MM&quot; năm &quot;YYYY"><i><font face="Times New Roman" size=5><br></font></i></td>
		<td align="left" valign=middle sdnum="1033;0;&quot;Ngày &quot;DD&quot; tháng &quot;MM&quot; năm &quot;YYYY"><i><font face="Times New Roman" size=5><br></font></i></td>
		<td align="center" valign=middle><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td colspan=7 align="center" valign=middle sdval="284956" sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" size=4> 284,956 </font></td>
	</tr>
	<tr>
		<td height="28" align="left"><font face="Times New Roman" size=4><br></font></td>
		<td align="left"><i><font face="Times New Roman" size=5><br></font></i></td>
		<td align="left"><font face="Times New Roman" size=4><br></font></td>
		<td colspan=17 align="center"><i><font face="Times New Roman" size=4>Err:511</font></i></td>
		</tr>
	<tr>
		<td height="30" align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman" color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="center" valign=top><b><font face="Times New Roman" size=5><br></font></b></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="center" valign=top><b><font face="Times New Roman" size=5><br></font></b></td>
		<td align="center" valign=top><b><font face="Times New Roman" size=5><br></font></b></td>
		<td align="center" valign=top><b><font face="Times New Roman" size=5><br></font></b></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
	</tr>
	<tr>
		<td height="35" align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman" color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=4><br></font></td>
		<td colspan=7 align="center" valign=middle><font face="Times New Roman" size=4>   24              06              16</font></td>
		</tr>
	<tr>
		<td height="35" align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman" color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle><font face="Times New Roman" size=4><br></font></td>
		<td align="left" valign=middle><font face="VNI-Times" size=4><br></font></td>
	</tr>
	<tr>
		<td height="25" align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman" color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left" valign=middle><font face="VNI-Times" size=4><br></font></td>
	</tr>
	<tr>
		<td height="49" align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman" color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td colspan=9 align="center"><font face="Times New Roman" size=5>     Đinh Quý Thành</font></td>
		</tr>
	<tr>
		<td height="31" align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman" color="#FFFFFF"><br></font></td>
		<td align="left"><font face="Times New Roman"><br></font></td>
		<td align="left" sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman"><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
		<td align="left"><font face="Times New Roman" size=5> </font></td>
		<td align="left"><font face="Times New Roman" size=5><br></font></td>
	</tr>
</table>