
    <div style="margin-top: 110px;">
        <span style="margin-left: 155px;">{{OWNER}}</span><br>
        <span style="margin-left: 20px;">{{PHONE_NO}}</span><br>
        <span>{{ADDRESS}}</span><br>
        <span>933459346</span>
        <span style="text-align: right">933459346</span>
    </div>

